<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>
    
  </header>
    <main>
    <div>  
      <% if(all){
        for (const producto of all) {
        %>
        <div >
          <div >
            <h3>
              <%=producto.modelo%>
            </h3>
          </div>
          <div >
            <p>
              <%=producto.marca%>
            </p>
          </div>
          <div >
            <p>
              <%=producto.precio%>
            </p>
          </div>
        </div>
      <%}%>
    </div>
    <% } else { %>
      <div class='message'>
        <h2>No hay productos</h2>
      </div>
      <% } %>
        
    </main>
    <footer>

    </footer>
</body>
</html>