<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        
    </header>
    <main>
        <form action="../../../controllers/Productos.js" method="post">
            <div class="mb-3">
              <label for="modelo" class="form-label">modelo</label>
              <input type="text" class="form-control" id="modelo">
              <div id="modelo" class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="marca" class="form-label">marca</label>
              <input type="text" class="form-control" id="marca">
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">precio</label>
                <input type="number" class="form-control" id="precio">
              </div>

            <button type="submit" class="btn btn-primary">Agregar</button>
          </form>
          <div>
            <!-- --------------------------- aca va el chat ---------------------------- -->
          </div>
    </main>

    <footer>
    </footer>
</body>
</html>
